.main {
}

.json-data {
  padding: 0px;
  width: 100%;
}

.endpoints {
  display: table;
  border: 1px solid gray;
  border-collapse: collapse;
}
.endpoint-area {
  display: table-row;
  border: 1px solid gray;
}
.endpoint-descrip {
  display: table-cell;
  border: 1px solid gray;
  padding: 5px 15px;
}
.endpoint-input {
  display: table-cell;
  border: 1px solid gray;
  vertical-align: middle;
  padding: 5px 15px;
}

.endpoint-uri {
  color: #990000;
  font-style: italic;
}

/* CSS for the pretty print came from here: 
 * http://stackoverflow.com/questions/4810841/how-can-i-pretty-print-json-using-javascript
 */
pre {
  outline: 1px solid #ccc;
  padding: 0px 10px;
  white-space: pre-wrap;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.all {
  margin: 10px 15px;
}

.my-wrapper {
  -webkit-animation-name: slide-from-top;
          animation-name: slide-from-top;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

@-webkit-keyframes slide-from-top {
  0% {
    -webkit-transform: translate(0px, -1000px);
            transform: translate(0px, -1000px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes slide-from-top {
  0% {
    -webkit-transform: translate(0px, -1000px);
            transform: translate(0px, -1000px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
/* Will this spinner work everywhere?
 * http://stephanwagner.me/only-css-loading-spinner
 */
@keyframes spinner {
      to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
  to {-webkit-transform: rotate(360deg);}
}

.spinner {
  min-width: 24px;
  min-height: 72px;
  margin-bottom: 0px;
}

.spinner:before {
  position: absolute;
  width: 48px;
  height: 48px;
  /* to position the spinner center:
   * http://stackoverflow.com/questions/252856/center-align-on-a-absolutely-positioned-div
   */
  right: 0;
  left: 0;
  margin: 0 auto;
}

.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border: 6px solid rgba(99, 0, 0, .3);
  border-top-color: rgba(99, 0, 0, .8);
  animation: spinner .6s linear infinite;
  -webkit-animation: spinner .6s linear infinite;
}

div[class^="loading-"] {
  display: none;
  text-align: center;
}
